@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin: 0 auto;
}
.container-field {
  width: 1300x;
  max-width: calc(100% - 48px);
  margin: 0 auto;
}
.slider-wrapper {
  position: relative !important;
  overflow: visible !important;
}
.recipe-swiper .swiper-button-prev {
  left: -30px !important;
  z-index: 10;
}

.recipe-swiper .swiper-button-next {
  right: -30px !important;
  z-index: 10;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.default-input {
  background: transparent;
  border: none;
  outline: none;
}

.box-shadow {
  background: #f5f5f5;
  box-shadow: 0px 16px 90px 0px rgba(0, 0, 0, 0.1);
}
.white-shadow {
  background: #fff;
  box-shadow: 0px 16px 90px 0px rgba(0, 0, 0, 0.2);
}
.white-shadow:hover {
  background: #fff;
  box-shadow: 0px 8px 90px 3px rgba(0, 0, 0, 0.4);
}
.css_button {
  color: #fff;
  /* opacity: 0.8; */
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ff8c42;
  border-radius: 6px;
  font-family: "Open Sans", "sans-serif";
}
.css_button:hover {
  background: #fff;
  color: #ff8c42;
  border-color: #ff8c42;
  border: 1px solid #ff8c42;
}
/* file: index.css hoáº·c App.css */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: #fff;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #ff8c42;
  border-radius: 10px;
}
